@import url('https://fonts.googleapis.com/css?family=Ranga');

body{
	text-align: center;
	background-color: #0080FF;
	font-family: 'Ranga', cursive;
}

#contenedor{
	background-color: #58D3F7;
	width: 500px;
	height: 200px;	
	border-radius: 20px;

}

input, select{
	border-radius: 10px;
}

